[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
statsmodels = "*"
handcalcs = "*"
rpy2 = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"

[requires]
python_version = "3.10"
